<div class="jumbotron mt-5">
  <h1 class="display-4">Rails Product</h1>
  <p class="lead">Projeto de CRUD em rails</p>
  <hr class="my-4">
  <p>Se você é novo na plataforma, cadastre-se.</p>
  <%= link_to 'Sign Up', new_user_path, class: 'btn btn-secondary' %>
</div>